button {
    background-color: #ff0000;
    border: thin solid black;
}

img {
    margin-left: 40%;
}

.link {
    font-size: 18px;
    background-color: white;
    border: thick solid black;
    width: 300px;
    height: auto;
    text-align: center;
    margin-left: 40%;
}

em {
    color: #ffffff;
    font-size: 32px;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: pink;
}

q {
    background-color: white;
}

.head {
    text-align: center;
    background-color: #000;
    color: #fff;
}

.foot {
    text-align: right;
    font-size: 18px;
}

#gallery {
    background-color: blue;
    color: #ffffff;
    font-size: 16px;
    font-family: Consolas, sans-serif;
}

#name {
    font-family: Helvetica, sans-serif;
}