* {
    box-sizing: border-box;
    font-family: 'Space Mono', sans-serif;
}

body {
    margin: 0;
    background-color: lightsalmon;
    color: whitesmoke;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: orange;
    padding: 4px 15px;
}

.navbar-main {
    font-weight: bolder;
}

.navbar-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
}

.navbar-item:nth-child(1) {
    background-color: violet;
    color: whitesmoke;
    text-decoration: none;
    width: 30%;
    padding: 0 3px;
    border: 2px solid violet;
    border-radius: 3px;
}

.navbar-item:nth-child(2) {
    background-color: lightgreen;
    color: whitesmoke;
    text-decoration: none;
    width: 30%;
    padding: 0 3px;
    border: 2px solid lightgreen;
    border-radius: 3px;
}

.navbar-item:nth-child(3) {
    background-color: lightsalmon;
    color: whitesmoke;
    text-decoration: none;
    width: 30%;
    padding: 0 3px;
    border: 2px solid lightsalmon;
    border-radius: 3px;
}

.navbar-item:hover {
    border: 2px solid #0A0A0A;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("assets/blackhole.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 1em;
    height: 300px;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    background-color: whitesmoke;
    color: #0A0A0A;
    margin: 1em auto;
    padding: 1em;
    border-radius: 3px;
}

.section-image {
    width: 80%;
    margin: 0 auto;
}

.section-text {
    width: 90%;
}

.footer {
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer span {
    color: lightsalmon;
}

@media (min-width: 480px) {
    .section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 85%;
    }

    .section-image {
        width: 120px;
        margin: auto 0;
    }

    .section-text {
        width: 75%;
    }
}

@media (min-width: 960px) {
    .section {
        width: 70%;
        max-width: 960px;
    }

    .section-image {
        width: 150px;
    }
}